@import 'base.css';

body {
    background-image: url('/src/assets/css/media/paper-texture-colorful-abstract.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 80%;
    margin: 0 auto;
    overflow-y: scroll;
    user-select: none;
    min-height: 100vh;
}
